.product_detail {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    height: 35vw;
    background-position: center;
    max-width: 1500px;
    margin: auto;
    padding-top: 2rem;
}

.product_detail_card {
    background-image: url("../images/m12u_product_detail.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}

.product_detail_name {
    background-color: #F2F2F2;
    border-radius: 0.5rem;
}

.product_detail_section {
    flex: 1;
}

.product_detail_name {}

.product_detail_name>h2, .product_detail_name>h3, .product_detail_section>div {
    margin-left: 5rem;

}

.product_detail_name h2{
    color: #434345;
    margin-top: 2rem;
}

.product_detail_name h3 {
    color: #434345;
}

.product_detail>div>button {
    border: none;
    color: white;
    padding: 1rem 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0.3rem 0.2rem;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 0.1rem solid #434345;
    border-radius: 0.5rem;

}

.product_detail>div>button:hover {
    background-color: #e4e4e4;
    color: #434345;
}