.smartphone_section {
  background-color: #ffffff;
  color: #424245;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
/* product card section start*/
.product_listing_products{
  display:flex;
  flex-wrap: wrap;
  gap:2rem;
  height: 35vw;
  background-position: center;
}

.product-card{
  flex:1;
  flex-basis: 330px;
}

.product_listing_products img{
  
  width:100%;
}


.product-card{
  position:relative;
}

.product-card-picture:hover:before{
  transform: scale(2);
}

/* .product-card-picture:before{
  content:"Click for detail";
  z-index:1000;
  position:absolute;
  top:45%;
  left:35%; 
  color:white;
  background-color:#ffffff88;
  transform: scale(0);
  cursor:pointer;
  transition: all 0.5s;
} */

.product-card-picture{
  overflow: hidden;
  border-radius: 0.75rem; 
}

.product-card-picture img{
  transition: all 1s;
}

.product-card-picture:hover img{
  transform: scale(1.1);
}

.product_listing_products a{
  text-decoration: none;
}

.product_listing_products a:hover, .product_listing_products a:focus{
  text-decoration: underline;
}
/* product card section stop

/* footer section */
.footer-menu{
  margin-top: 5 0rem;
}