.product_detail {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    height: 35vw;
    background-position: center;
    max-width: 1500px;
    margin: auto;
    padding-top: 2rem;
}

.product_detail_card {
    background-image: url("../images/m12u_product_detail.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}

.product_detail_name {
    background-color: #F2F2F2;
    border-radius: 0.5rem;
}

.product_detail_section {
    flex: 1;
}

.product_detail_name {}

.product_detail_name>h2, .product_detail_name>h3, .product_detail_section>div {
    margin-left: 5rem;

}

.product_detail_name h2{
    color: #434345;
    margin-top: 2rem;
}



.product_detail_name h3{
    color: #434345;
    margin-top: 1rem;
}

.common-button  {
    border-radius: 0.5rem;
    margin-top: 1rem;

}

.common-button :hover {

}

.color_green:before{
    content: "";
    width: 15px;
    height: 15px;
    background-color: green;
    display: inline-block;
    border-radius: 50%;
}

.color_red:before{
    content: "";
    width: 15px;
    height: 15px;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
}

.review h2{
    color: black;
    padding-bottom: 1rem;
  
    
}

.review h3{
    color: #434345;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
    

    
}

.review h4{
    color: black;
    font-size: 0.8rem;

    
}

.review p{
    padding-bottom: 1rem;

    
}


.review {
    padding-left: 1rem;
    padding-top: 6rem;
}

.profile h2{
    color: black;
  
    
}

.profile h3{
    color: #434345;
    font-size: 1rem;

    
}

.profile h4{
    color: black;
    font-size: 0.8rem;

    
}

.profile p{
    padding-bottom: 1rem;

}

.profile {
    padding-left: 1rem;

}